@charset "UTF-8";
html {
    width: 100%;
    height: 100%;
     font-family: 'Ubuntu', sans-serif;
}

body {
    line-height: 1.7;
    width: 100%;
    height: 100%;
}
/* -- header -- */
header {
    background-color:rgb(148, 238, 255);
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 16%;
   
}

header h1 {
    font-size: 2rem;
    margin-top: 0.75rem;
    margin-left: 1rem;
}
header .register {
    margin-right: 1rem;
    margin-top: 1.75rem;
}

/* -- main -- */
main {
    width: 100%;
    height: 68%;
    
}

.registerTable {
    width: 40%;
    height: 80%;
    
    margin: 3rem auto;
    border-radius: 5px;
    box-shadow: 0 0 8px gray;
}

.registerTable h1 {
	font-size: 1.5rem;
	border-bottom:rgb(148, 238, 255) 1px solid;
	margin-bottom: 0;
	text-align: center;
	margin-top: 25px;
}

#registerForm {
    width: 100%;
    height: 100%;
    
}

#registerForm p {
    padding-left: 2rem;
    padding-top: 3rem;
}
#registerForm #userName, #password{
    background:rgba(223, 223, 223,.5);
    border: 1px rgb(182, 185, 184) solid;
    border-radius: 5px;
    width: 90%;
}
#registerForm .register {
    text-align: center;
    padding-right:2rem;
}

input[type="submit"] {
    border: 1px white solid;
    border-radius: 5px;
    background:rgb(148, 238, 255);
    color: white;
    width: 6rem;
    cursor: pointer;
}
input[type="submit"]:hover {
    background:rgb(65, 255, 249);
}

footer {
	background-color: rgb(148, 238, 255);
	color: white;
    width: 100%;
    height: 16%;
    text-align: center;
}
footer p {
	font: 1.25rem;
	padding-top: 35px;
}