@charset "UTF-8";
html {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

body {
    line-height: 1.7;
    width: 100%;
    height: 100%;
}
/* -- header -- */
header {
    background-color:rgb(148, 238, 255);
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 16%;
}

header h1 {
    font-size: 2rem;
    margin-top: 0.75rem;
    margin-left: 1rem;
}
header .register {
    margin-right: 1rem;
    margin-top: 1.75rem;
}

/* -- main -- */
main {
    width: 100%;
    height: 68%;
    
}

.registerConfirmTable {
    width: 40%;
    height: 80%;
    
    margin: 3rem auto;
    border-radius: 5px;
    box-shadow: 0 0 8px gray;
}

.confirm_contents {
    height: 80%;
    padding-top: 2rem;
}
.confirm_contents p {
    padding-top: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
}

input[type="submit"] {
    border: 1px white solid;
    border-radius: 5px;
    background:rgb(148, 238, 255);
    color: white;
    width: 6rem;
    cursor: pointer;
}
input[type="submit"]:hover {
    background:rgb(65, 255, 249);
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

footer {
	background-color: rgb(148, 238, 255);
	color: white;
    width: 100%;
    height: 16%;
    text-align: center;
}
footer p {
	font: 1.25rem;
	padding-top: 35px;
}